<!-- <div class="container">
<% if @projects.empty? %>
  <p>You do not have any projects...</p>
  <% else %>
  <ol class="project">
  <% @projects.each do |project| %>
    <li><a href="/projects/<%= project.id%>"><%= project.name%></a></li>
  <% end %>
  </ol>

<% end %>
</div> -->
<% #binding.pry %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Owner</th>
      <th scope="col">Date Created</th>
      <th scope="col">Last Modified</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <th scope="row"><%= project.id %></th>
      <td><a href="/projects/<%= project.id%>"><%= project.name%></a></td>
      <td>YOU!</td>
      <td><%= project.created_at %></td>
      <td><%= project.updated_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="container">
  <a href="/projects/new">Add new project</a>
</div>
